.form-page {
    margin-top: 6rem;
}

.form-page h1,
.form-control {
    color: #dc143c;
    margin-left: 10%;
    margin-bottom: 1rem;
}

.form-page h2 {
    color: black;
    margin-left: 10%;
    margin-bottom: 2rem;
    font-size: 14pt;
}

.form-control label {
    cursor: pointer;
}


.form-control input[type=text],
.form-control input[type=password] {
    height: 2rem;
}

.form-control input[type=text],
.form-control input[type=password],
.form-control textarea {
    width: 40rem;
    border: 3px solid  #dc143c;
    border-radius: 5px;
    outline: none;
    font-size: 14pt;
    margin-right: 0.5rem;
 }

.form-control input[type="file"] {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0);
}

.form-control label,
.form-control button {
    outline: none;
    background: #dc143c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0 1rem;
}

.form-control button[type="submit"] {
    margin-top: 7rem;
}