.main-Navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: #dc143c;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.mainNav__Leftside {
    display: flex;
    margin-left: 10%;
    align-items: center;
}

.mainNav__Leftside h1 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

.mainNav__Leftside input {
    outline: none;
}

.mainNav__Leftside button {
    position: relative;
    top: 1px;
    left: -43px;
    outline: none;
    height: 1.6rem;
}

.mainNav__Rightside {
    display: flex;
    margin-right: 10%;
    align-items: center;   
}

.mainNav__Rightside ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.mainNav__Rightside li {
    margin: 2rem;
    color: white;
    font-weight: bold;
}